name: Deploy React FE to Development (Docker Compose)

on:
  push:
    branches:
      - dev

jobs:
  build:
    runs-on: iqbal
    steps:
      - name: Checkout Repository
        uses: actions/checkout@v4

      - name: Create .env file
        run: |
            touch .env
            echo "${{vars.ENV_DEV_VAR}}" >> .env

      - name: Build Docker Image
        run: |
          docker build -t react-fe:dev-latest -f stage/dev-stage/Dockerfile .

  deploy:
    runs-on: iqbal
    needs: build 
    steps:
      - name: Checkout Repository
        uses: actions/checkout@v4

      - name: Stop & Remove Existing Containers
        run: |
          docker compose -f stage/dev-stage/dev.yaml down || true

      - name: Deploy New Containers
        run: |
          docker compose -f stage/dev-stage/dev.yaml up -d
