name: Deploy React FE to Production (Docker Compose)

on:
  push:
    branches:
      - main

jobs:
  build:
    runs-on: iqbal-vm
    steps:
      - name: Checkout Repository
        uses: actions/checkout@v4

      - name: Create .env file
        run: |
            touch .env
            echo "${{vars.ENV_PROD_VAR}}" >> .env

      - name: Build Docker Image
        run: |
          docker build -t react-fe:latest -f stage/prod-stage/Dockerfile .

  deploy:
    runs-on: iqbal-vm
    needs: build 
    steps:
      - name: Checkout Repository
        uses: actions/checkout@v4

      - name: Stop & Remove Existing Containers
        run: |
          docker compose -f stage/prod-stage/prod.yaml down || true

      - name: Deploy New Containers
        run: |
          docker compose -f stage/prod-stage/prod.yaml up -d
